//// react-axios-portfolio App

// System Colors

$primary: #24272b;
$primary-secondary: #24272b;
$primary-ternary: rgba(36, 39, 43, 0.3);

$secondary: #f96900;
$secondary-secondary: #f96900;
$secondary-ternary: rgba(249, 105, 0, 0.3);

$dark: #07070a;
$dark-secondary: #07070a;
$dark-ternary: rgba(7, 7, 10, 0.3);

$light: #fffffa;
$light-secondary: #fffffa;
$light-ternary: rgba(255, 255, 250, 0.3);

$alternate: #f0f3f7;

// System Shadows

$small-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.3);
$medium-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.3);
$large-shadow: 0 30px 30px 0 rgba(0, 0, 0, 0.3);
$small-drop-shadow: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.3));
$medium-drop-shadow: drop-shadow(0 15px 15px rgba(0, 0, 0, 0.3));
$large-drop-shadow: drop-shadow(0 30px 30px rgba(0, 0, 0, 0.3));

// System Fonts Import

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;500;700;900&display=swap");

// System Fonts

$sans-serif: "Noto Sans", sans-serif;
$serif: "Noto Sans", sans-serif;

// System Font Weights

$sans-serif-regular: 300;
$sans-serif-bold: 500;
$serif-regular: 700;
$serif-bold: 900;
